* {
    font-family: 'Vazirmatn', sans-serif;
}

:root {
    --primary: #6366f1;
    --primary-dark: #4f46e5;
    --secondary: #10b981;
    --accent: #f59e0b;
    --dark: #0f172a;
    --darker: #020617;
    --light: #f8fafc;
}