/* Footer styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.anime-footer {
    background-color: #000000;
    padding: 1rem 0;
    padding-left: 60px;
    text-align: center;
    margin-top: auto;
}

.anime-footer p {
    color: #e0e0e0;
}

.social-links .social-icon {
    color: #6322db;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.1rem;
}

.social-icon:hover {
    color: #8340ff;
}